<div  class="panel panel-primary">
    <div class="panel-heading">
        <h4 style="font-size: 1.25rem;" class="panel-title">PO Item Details</h4>
    </div>
    <div class="panel-body">
        <div style="line-height: .5;"  class="card-content shade-bg"> 
            <form [formGroup]="itemForm" >
                <div class="row shadow p-3 mb-5 shade-bg rounded">
                <!--
                        <div class="col-md-2">
                                <div class="form-group input-group-sm form-black label-floating is-empty">
                                        <label class="label-small">Item Number</label>
                                        <input disabled type="text"  required formControlName="itemNumber"   class="form-control" >
                                </div>
                        </div>   

                        <div class="col-md-2">
                                <div class="form-group input-group-sm form-black label-floating is-empty">
                                        <label class="label-small">BidCode Item Id</label>
                                        <input disabled type="text"   formControlName="bidItemCodeId"   class="form-control" >
                                </div>
                        </div>   

                        <div class="col-md-3">
                                <div class="form-group input-group-sm form-black label-floating is-empty">
                                        <label class="label-small">Item Type</label>
                                        <input disabled type="text"   formControlName="itemType"   class="form-control" >
                                </div>
                        </div>

                        <div class="col-md-3">
                                <div class="form-group input-group-sm form-black label-floating is-empty">
                                        <label class="label-small">Model Make</label>
                                        <input disabled type="text"   formControlName="itemMake"   class="form-control" >
                                </div>
                        </div>

                        <div class="col-md-2">
                                <div class="form-group input-group-sm form-black label-floating is-empty">
                                        <label class="label-small">Model Number</label>
                                        <input disabled type="text"   formControlName="itemModelNumber"   class="form-control" >
                                </div>
                        </div>

                -->

                            <div class="col-md-6">
                                    <div class="form-group input-group-sm form-black label-floating is-empty">
                                            <label class="label-small">Item Number</label>
                                            <select required class="form-control"  formControlName="itemNumber">
                                                        <option *ngIf="newItem">Select Item </option>
                                                    <option *ngFor="let item of itemTypeCodes" value={{item.itemNumber}}>
                                                                {{item.itemNumber}} - {{ item.itemDescription}} 
                                                    </option> 
                                            </select>
                                    </div>
                                    <small class="form-text text-muted alert alert-danger" *ngIf="itemForm.get('itemNumber').touched && itemForm.get('itemNumber').hasError('required')">Item Required!</small>
                            </div>

                            <div class="col-md-6">
                                    <div class="form-group input-group-sm form-black label-floating is-empty">
                                            <label class="label-small">Item Type</label>
                                            <select required class="form-control"  formControlName="bidItemCodeId">
                                                <option> Select Item Type</option>
                                                    <option *ngFor="let item of itemTypeMakeCodes" value={{item.id}}>
                                                               {{item.itemMake}} - {{ item.itemType}} 
                                                </option> 
                                            </select>
                                    </div>
                                    <small class="form-text text-muted alert alert-danger" *ngIf="itemForm.get('bidItemCodeId').touched && itemForm.get('bidItemCodeId').hasError('required')">Item Required!</small>
                            </div>
                                                    
                            <div class="col-md-2">
                                    <div class="form-group input-group-sm form-black label-floating is-empty">
                                        <label class="label-small">Qty</label>
                                        <input #itemFocus type="text"  required formControlName="qty"   class="form-control" >
                                    </div>
                            </div> 

                            <div class="col-md-2">
                                    <div class="form-group input-group-sm form-black label-floating is-empty">
                                        <label class="label-small">Item Amount</label>
                                        <input placeholder="$.00" style="text-align: right" type="text"  required formControlName="itemAmount"  class="form-control" >
                                    </div>
                            </div> 

                            <div class="col-md-2">
                                    <div class="form-group input-group-sm form-black label-floating is-empty">
                                        <label class="label-small">FSA Fee</label>
                                        <input currencyMask disabled type="text"  formControlName="fsafee"  class="form-control" >
                                    </div>
                            </div> 

                            <div class="col-md-2">
                                    <div class="form-group input-group-sm form-black label-floating is-empty">
                                        <label class="label-small">FAC Fee</label>
                                        <input currencyMask disabled type="text"  formControlName="facfee"  class="form-control" >
                                    </div>
                            </div> 

                            <div class="col-md-2">
                                    <div class="form-group input-group-sm form-black label-floating is-empty">
                                        <label class="label-small">FFCA Fee</label>
                                        <input currencyMask disabled type="text"  formControlName="ffcaFee"  class="form-control" >
                                    </div>
                            </div> 

                            <div class="col-md-2">
                                    <div class="form-group input-group-sm form-black label-floating is-empty">
                                        <label class="label-small">Admin Fee</label>
                                        <input currencyMask disabled type="text" formControlName="adminFeeDue"  class="form-control" >
                                    </div>
                            </div> 

                            <div class="col-md-12">
                                <button [disabled]="itemForm.invalid || !itemForm.dirty || itemForm.pristine" style="padding-left: 15px;" (click)="processItem()"class="btn btn-success pull-right">Save</button>
                            </div>  

                </div>
            </form>                                              
        </div>   
    </div>
</div>