<app-navbar></app-navbar>

<div class="container">
    <div class="row">
<!--  <nav class="col-sm-2    sidebar">

       <div style= "padding-top: 5px; padding-bottom: 5px; margin-left: 20px;" >Bid Numbers</div>
      <ul  *ngFor="let bid of bids" class="nav">
          <li class="nav-item">
              <a [routerLink]="['/transactions', bid.BidNumber]"  class="nav-link"> {{ bid.BidNumber}} </a>  
          </li>
        </ul> 

         <a href="../../assets/AbbreviatedExampleNoDbConn.xlsx"> Report </a>
      </nav>  -->

      <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
        <h1></h1>

        <mat-toolbar>
            <span>Purchase Orders  </span>
        </mat-toolbar>
        
     <app-purchase-order-list></app-purchase-order-list>  
     

      </main>
    </div>
  </div>



