<app-navbar></app-navbar>


<div class="container pt-2">
        <div class="row">
              <div class="col mt-5">
              
        <mat-toolbar style="margin-top: 20px;">
            <span>Search by Check  </span>
        </mat-toolbar>
        
        <div class="container">
            <div class="example-header">
          
              <form [formGroup]="checkNumberForm">
                  <div class="row ">
                    <div class="col-md-2">
                    
                        <mat-form-field class="gap" >
                            <input matInput formControlName="checkNumber"  placeholder="Check Number">
                        </mat-form-field>  
          
                    </div>
          
                    <div class="new-po form-group col-md-4 ml-5 mt-2">
                        <button [disabled]="checkNumberForm.pristine" mat-button (click)="search()" type="submit"  class="mat-flat-button btn-success insert-button">Search</button>  
                    </div>
                   </div>  
              </form>
          
          <div [hidden] = "!enablePoList" class="centered">            
          <div>
            <div [hidden] = "!enablePoList">
          
        
                <mat-table  style="padding-left: 50px;"  #table [dataSource]="poDataSource" matSort>
          
                    <ng-container matColumnDef="paymentCheckNum">
                        <mat-header-cell style="padding-left: 50px;"  class="pull-left" fxFlex="200px" *matHeaderCellDef mat-sort-header> Check Number </mat-header-cell>
                        <mat-cell style="padding-left: 50px;"  fxFlex="200px" *matCellDef="let row"> {{row.paymentCheckNum}} </mat-cell>
                      </ng-container>
          
                      <ng-container matColumnDef="dealerName">
                          <mat-header-cell fxFlex="400px" *matHeaderCellDef mat-sort-header> Vendor </mat-header-cell>
                          <mat-cell fxFlex="400px" *matCellDef="let row">{{row.dealerName}}</mat-cell>
                        </ng-container>
              
                       <ng-container matColumnDef="POS">
                          <mat-header-cell fxFlex="200px" *matHeaderCellDef mat-sort-header>Purchase Order Count</mat-header-cell>
                          <mat-cell fxFlex="200px" *matCellDef="let row"> {{row.POS}} </mat-cell>
                        </ng-container>
              
                        <ng-container matColumnDef="AdminFee">
                           <mat-header-cell fxFlex="200px" *matHeaderCellDef mat-sort-header>Payment Fee Total </mat-header-cell>
                           <mat-cell fxFlex="200px" *matCellDef="let row">{{row.AdminFee | currency}}</mat-cell>
                        </ng-container>
          
                
                <mat-header-row *matHeaderRowDef="displayColsGrouping"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayColsGrouping"  [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="onRowClicked(row)"></mat-row>
                </mat-table>
                     
              <br>
           
          
             
          
          </div>          
          
          </div>
          </div>
          
          
          <div [hidden] = "!enableItemList"  class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Payment Items</h3>
            
              </div>
              <div class="panel-body">
                  <mat-table style="width: 1150px;" *ngIf="poPaymentList"  #table [dataSource]="poPaymentList" matSort>
          
                    
            
                      <ng-container matColumnDef="bidNumber">
                          <mat-header-cell style="width: 1150px;" class="pull-left" fxFlex="100px"  *matHeaderCellDef mat-sort-header>Bid Number </mat-header-cell>
                          <mat-cell style="width: 1150px;" fxFlex="100px" *matCellDef="let itemList"> {{itemList.bidNumber}} </mat-cell>
                      </ng-container>
                        
                      <ng-container matColumnDef="poNumber">
                          <mat-header-cell class="pull-left" fxFlex="125px"   *matHeaderCellDef mat-sort-header>Po Number</mat-header-cell>
                          <mat-cell fxFlex="125px" *matCellDef="let itemList"> {{itemList.poNumber}} </mat-cell>
                      </ng-container>
          
                      <ng-container matColumnDef="checkNumber">
                          <mat-header-cell class="pull-left" fxFlex="125px"   *matHeaderCellDef mat-sort-header>Check Number</mat-header-cell>
                          <mat-cell fxFlex="125px" *matCellDef="let itemList"> {{itemList.paymentCheckNum}} </mat-cell>
                      </ng-container>
          
                      <ng-container matColumnDef="cityAgency">
                          <mat-header-cell class="pull-left" fxFlex="200px"   *matHeaderCellDef mat-sort-header>Purchaser</mat-header-cell>
                          <mat-cell fxFlex="200px" *matCellDef="let itemList"> {{itemList.cityAgency}} </mat-cell>
                      </ng-container>
          
                      <ng-container matColumnDef="dealerName">
                          <mat-header-cell class="pull-left" fxFlex="200px"   *matHeaderCellDef mat-sort-header>Vendor</mat-header-cell>
                          <mat-cell fxFlex="200px" *matCellDef="let itemList"> {{itemList.dealerName}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="itemNumber">
                            <mat-header-cell class="pull-left" fxFlex="100px"   *matHeaderCellDef mat-sort-header>Item Number</mat-header-cell>
                            <mat-cell fxFlex="100px" *matCellDef="let itemList"> {{itemList.itemNumber}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="itemType">
                                <mat-header-cell class="pull-left" fxFlex="150px"   *matHeaderCellDef mat-sort-header>Item Type</mat-header-cell>
                                <mat-cell fxFlex="150px" *matCellDef="let itemList"> {{itemList.itemType}} </mat-cell>
                            </ng-container>
          
                      <ng-container matColumnDef="dateReported">
                          <mat-header-cell class="pull-left" fxFlex="100px"   *matHeaderCellDef mat-sort-header>Date Received</mat-header-cell>
                          <mat-cell fxFlex="100px" *matCellDef="let itemList"> {{itemList.paymentDate | dateFormatPipe}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="poAmount">
                          <mat-header-cell class="pull-left" fxFlex="150px"   *matHeaderCellDef mat-sort-header>Payment Amount</mat-header-cell>
                          <mat-cell fxFlex="150px" *matCellDef="let itemList"> {{itemList.paymentAmount | currency}} </mat-cell>
                      </ng-container>
            
                 
                     
                          
                      <mat-header-row style="width: 1150px;" *matHeaderRowDef="itemColumns"></mat-header-row>
                      <mat-row style="width: 1150px;" *matRowDef="let itemList; columns: itemColumns;"  [ngClass]="{'highlight': selectedRowIndex == itemList.id}"  (click)="onItemRowClicked(itemList)"></mat-row>
                  
                  </mat-table>

                  <mat-paginator 
                  [length]="500"
                  [pageSize]="10"
                  [pageSizeOptions]="[10, 25, 100, 500]">
              </mat-paginator>
          
            
          
              </div>
              
            </div>
          
          
          </div>
          </div>            
          
     </div>
    </div>
  </div>

