<div  class="tight panel panel-primary">
<!-- Default panel contents -->
        <div class="panel-heading">
             <!--   <h4 class="panel-title">Purchase Order Details {{bidId}} {{poId}} {{ enableItemDetail }}</h4>  -->
             <h4 style="font-size: 1.25rem;" class="panel-title">Purchase Order Details</h4>
        </div>
        <div class="panel-body">

                        <div style="line-height: .5;" class="card-content shade-bg"> 
                                        <form [formGroup]="poForm">
                                         <div class="row shadow p-3 mb-5 rounded shade-bg">
                                     
                                              <div class="col-md-4 topMargin">
                                                     <div class="form-group input-group-sm form-black label-floating is-empty">
                                                             <label class="label-small" for="bidTypeNnumberSelect">Bid Number</label>
                                     
                                                             <select required formControlName="bidNumber" class="form-control input-group-sm"  id="bidTypeNnumberSelect">
                                                          <!--      <option  selected>{{ pox.bidNumber }} 
                                                                 </option>     -->
                                                                 <option *ngFor="let bn of bidNumbers" value={{bn.BidNumber}}>
                                                                         {{bn.BidNumber}} - {{bn.BidType}}
                                                                 </option>     
                                                             </select>
                                                     </div>
                                                     <small class="form-text text-muted alert alert-danger" *ngIf="poForm.get('bidNumber').touched && poForm.get('bidNumber').hasError('required')">Bid Required!</small>
                                              </div>  
                                     
                                               <div class="col-md-4 topMargin">
                                                  <div class="form-group input-group-sm form-black label-floating is-empty">  
                                                         <label class="label-small">P.O.Number</label>
                                                         <input #poFocus placeholder="PO Number" type="text" formControlName="poNumber"  required class="form-control" >
                                                  </div>  
                                                     <small class="form-text text-muted alert alert-danger" *ngIf="poForm.get('poNumber').touched && poForm.get('poNumber').hasError('required')">PO Number Required!</small>
                                                </div> 
                                     
                                                 <div class="col-md-2 topMargin">
                                                   <div class="form-group input-group-sm form-black label-floating is-empty">
                                                         <label class="label-small">PO Issue Date</label>
                                                         <input type="text" class="form-control" formControlName="poIssueDate" placeholder="PO Issue Date"  bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" />                                                     
                                                         <div style="line-height: 1.2; font-size: .90rem; padding: 0.95rem 1.25rem;" [hidden]="datePoIssueBidValid && datePoIssueValid"
                                                                           class="alert alert-danger">
                                                                           {{messagePoIssueDate}}
                                                        </div>  
                                                   </div>
                                                 </div>
                                     
                                                 <div class="col-md-2 topMargin">
                                                     <div class="form-group input-group-sm form-black label-floating is-empty">
                                                         <label class="label-small">PO Reported Date</label>
                                                         <input type="text" class="form-control" formControlName="dateReported" placeholder="PO Date Reported"  bsDatepicker  />
                                                         <div style="line-height: .95; font-size: .90rem; padding: 0.95rem 1.25rem;" [hidden]="datePoReportedValid && datePoReportedBidValid"
                                                             class="alert alert-danger">
                                                              {{messagePoReportedDate}}
                                                          </div>  
                                                     </div>
                                                <!--     <small  *ngIf="poForm.get('dateReported').touched && poForm.hasError('mismatch')" class="form-text text-muted alert alert-danger" >PO Reported Date must be later than PO Issue Date and within the date range for BidType</small>
                                                     <small  *ngIf="poForm.get('poIssueDate').touched && poForm.hasError('mismatch')" class="form-text text-muted alert alert-danger" >PO Issue Date must be later than PO Issue Date</small>
                                                -->
                                                  </div>
                                     
                                          <!--        <div class="col-md-2 topMargin">
                                                     <div class="form-group input-group-sm form-black label-floating is-empty">
                                                         <label class="label-small">Estimated Delivery</label>
                                                         <input type="text" placeholder="Estimated Delivery" formControlName="estimatedDelivery" name="estimatedDelivery" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"  class="form-control" />
                                                     </div>
                                                  </div>  -->

                                                 
                                            
                                                   <div class="col-md-6">
                                                     <div class="form-group input-group-sm form-black label-floating is-empty">
                                                             <label class="label-small" for="cityAgencySelect">Purchaser</label>
                                                             <select placeholder="Purchaser"  formControlName="cityAgency" class="form-control input-group-sm" required id="cityAgencySelect">
                                                             <!--        <option  selected>{{ pox.cityAgency }} 
                                                                         </option>  -->
                                                                 <option *ngFor="let ca of cityAgencies" value= {{ca.cityAgencyName}} >
                                                                     {{ ca.cityAgencyName }}  -  {{ ca.agencyName }}
                                                               </option>  
                                                             </select>
                                                     </div>
                                                     <small class="form-text text-muted alert alert-danger" *ngIf="poForm.get('cityAgency').touched && poForm.get('cityAgency').hasError('required')">Purchaser Required!</small>
                                                    </div>  
                                     
                                                   <div class="col-md-6">
                                                     <div class="form-group input-group-sm form-black label-floating is-empty">
                                                             <label class="label-small" for="dealerSelect">Vendor Select</label>
                                                             <select   class="form-control" formControlName="dealerName" id="vendorSelect">
                                                                             <option>Select Vendor</option>
                                                              <option *ngFor="let dealer of dealers" >
                                                                     {{ dealer.dealerName}} 
                                                               </option>  
                                                             </select>
                                                     </div>
                                                     <small class="form-text text-muted alert alert-danger" *ngIf="poForm.get('dealerName').touched && poForm.get('dealerName').hasError('required')">Vendor Required!</small>
                                                   </div>

                                     
                                                   <div class="col-md-2">
                                                     <div class="form-group input-group-sm form-black label-floating is-empty">
                                                         <label class="label-small">PO Reported by</label>
                                                         <div style="padding-top: 5px;" class="form-group input-group-sm form-check form-check-inline">
                                                             <input class="form-check-input" type="checkbox" id="inlineCheckbox1" formControlName="agencyFlag"  name="agencyFlag" value="X">
                                                             <label class="form-check-label" for="inlineCheckbox1">Purchaser</label>
                                                           </div>
                                                           <div class="form-group input-group-sm form-check form-check-inline">
                                                             <input class="form-check-input" type="checkbox" id="inlineCheckbox2" formControlName="dealerFlag"  value="X">
                                                             <label class="form-check-label" for="inlineCheckbox2">Vendor</label>
                                                          </div>
                                                     </div>
                                                   </div> 

                                                   <div class="col-md-2">
                                                        <div class="form-group input-group-sm form-black label-floating is-empty">
                                                            <label class="label-small">PO Completed</label>
                                        
                                                            <select   class="form-control"  formControlName="poStatus" id="poCompleteSelect">
                                                                 <option>No</option>
                                                                 <option *ngFor="let code of poStatusTypeCodes" >
                                                                        {{ code.poStatusTypeCode}} 
                                                                  </option>  
                                                                </select>
                                                        </div>
                                                        <small class="form-text text-muted alert alert-danger" *ngIf="poForm.get('poStatus').touched && poForm.get('poStatus').hasError('required')">PO Status Required!</small>
                                                   </div>  
                                     
                                        
                                             <div class="col-md-2">
                                                     <div class="form-group input-group-sm form-black label-floating is-empty">
                                                         <label class="label-small">PO Amount</label>
                                                         <input placeholder="$.00" style="text-align: right" type="text"  name="poAmount"  formControlName="poAmount"  class="form-control" >
                                                     </div>
                                             </div>  
                                     
                                     
                                             <div class="col-md-2">
                                                     <div class="form-group input-group-sm form-black label-floating is-empty">
                                                         <label class="label-small">Admin Fee Due</label>
                                                         <input currencyMask type="text" disabled name="adminFeeDue"  formControlName="adminFeeDue"  class="form-control" >
                                                     </div>
                                             </div>     

                                             <div class="col-md-4">
                                                       
                                                        <div style="padding-top: 30px;" class="form-group input-group-sm form-check form-check-inline">
                                                                        <label style="padding-right: 15px;" class="label-small">PO Final</label>
                                                        <input  style="padding-left: 15px;" class="form-check-input" type="checkbox" formControlName="poFinal"  value="0">
                                                               
                                                        </div>
                                                        <div style="line-height: 1.2; font-size: .90rem; padding: 0.95rem 1.25rem;" [hidden]="poFinalValid"
                                                                           class="alert alert-danger">
                                                                           {{messagePoFinal}}
                                                        </div>  
                                                        
                                                      </div> 
                                     
                                             <div class="col-md-12">
                                                     <div class="form-group input-group-sm form-black label-floating is-empty">
                                                         <label class="label-small">Comments</label>
                                                         <input type="text" name="comments" formControlName="comments"   class="form-control" >
                                                     </div>
                                             </div>
                                     
                                         
                                                 <div class="col-md-12">
                                                       <!--  <button (click)="insertPurchaseOrder()" type="submit"  style="padding-right: 15px;" class="btn btn-success pull-right">Save</button>  -->
                                                       <button [disabled]="poForm.invalid  || poForm.pristine" (click)="processPurchaseOrder()" style="padding-right: 15px;" class="btn btn-success pull-right">Save</button>
                                                 </div>

                                                 <div class="col-md-1">
                                                </div>  
                                            
                                     
                                             </div>
                                           </form>  

                                         <!--  <app-item-detail></app-item-detail> -->
                                     
                                         <!--  <app-purchase-order-item  (refreshItemList)="refreshItemListHandler($event)"></app-purchase-order-item> -->
                                         
                        </div>   

        </div>
       
       
              
</div>



    
    
