hr {
    width: 900px;
  }

.mat-cell{
    font-size: 12px;
}

.mat-cell:first-child{
      padding-left: 1px;

  }

.mat-footer-row{
    width: 1225px;
}

.mat-header-row{
    width: 1225px;
}

.userList {
    margin-left: 40px;;
  }


.mat-row{
    width: 1225px;
}

.mat-header-cell{
  width: 1225px;
}

.mat-table{
    width: 1225px;
  }

  .mat-table-900{
    width: 900px;
    margin-left: 200px;
  }

  .mat-900{
    width: 900px;
  }

  .mat-table-payment{
    width: 800px;
  }

  .mat-header-cell{
    width: 1225px;
  }

  .mat-toolbar {
    width: 1225px;      
    margin-top: 10px;
  }