<app-navbar></app-navbar>

<div class="container">
  <div class="example-header">

    <div class="col-md-8">
        <h1>Cooperative Purchasing Program</h1>
        <h2 style="font-weight: bold;">Introduction</h2>
        <p><img src="https://www.flsheriffs.org/assets/images/purchasing-program-logo.png" style="float:right; margin-left:15px; margin-bottom:10px;">
          The Florida Sheriffs Association offers statewide purchasing contracts on a variety of vehicles, equipment and services that are available to 
          all eligible* agencies.&nbsp;While most agencies purchasing from our contracts are within the state of Florida, eligible* agencies from other states 
          have used the contracts if their governing purchases ordinance allows.</p><p>For details of the products and services available, use the links located 
          below that match the commodity you are seeking to purchase. The bid links will take you to pages that are&nbsp;solely dedicated to the bid award for
          that particular commodity and includes all of the supporting bid documents and the maintenance thereof.</p><p>The bid awards and schedules are supported 
          by a dedicated FSA staff with the assistance of our Advisory Board(s).&nbsp;We are available Monday through Friday to answer any questions or assist 
         you in your purchasing transactions. Before you make a purchase, we encourage you to read the terms and conditions associated with each commodity.&nbsp;
         There are certain requirements for manufacturers, vendors and the end user that you should be familiar with prior to and after the initial acquisition.&nbsp;
         These terms and conditions are written based on best practices in order to simplify the process for the buyer and the seller.&nbsp;</p>
         <p style="font-style:italic;">Since its inception in November 1993, Approximately 55,000 vehicles have been purchased through these programs, resulting in 
         tremendous savings for participating agencies statewide.</p>
    </div>
</div>



