<div class="container">
    
        <div class="example-header">
            
              <div class="row">
                <div class="col-md-12">
                    <div  class="col-md-12 form-group form-black label-floating is-empty gap">
                            <label style="padding-left: 5px;" for="bidTypeNnumberSelect2">Bid Number</label>
    
                            <select required  (change)="filterBids($event.target.value)" class="form-control"  
                                    id="bidTypeNnumberSelect2">
                                    <option>Select Bid</option>
                                <option *ngFor="let bn of bidNumbers" value={{bn.BidNumber}}>
                                            {{bn.BidNumber}} - {{bn.BidTitle}}
                              </option>  
                            </select>
                    </div>
    
                    <mat-form-field class="gap" *ngIf="showFilter()">
                        <input matInput (keyup)="applyUserFilter($event.target.value)" placeholder="Search">
                    </mat-form-field>  
                   
                  </div>
                
                </div>  

              
    
        <div>
             
            <mat-table *ngIf="poDataSource" #table [dataSource]="poDataSource" matSort>

              <ng-container matColumnDef="bidNumber">
                <mat-header-cell class="pull-left" fxFlex="125px" *matHeaderCellDef mat-sort-header> Bid Number </mat-header-cell>
                <mat-cell fxFlex="125px" *matCellDef="let row"> {{row.bidNumber}} </mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="cityAgency">
                <mat-header-cell fxFlex="200px" *matHeaderCellDef mat-sort-header>Purchaser</mat-header-cell>
                <mat-cell fxFlex="200px" *matCellDef="let row"> {{row.cityAgency}} </mat-cell>
              </ng-container>
          
             <ng-container matColumnDef="dealerName">
                <mat-header-cell fxFlex="275px" *matHeaderCellDef mat-sort-header> Vendor </mat-header-cell>
                <mat-cell fxFlex="275px" *matCellDef="let row">{{row.dealerName}}</mat-cell>
              </ng-container>
          
              <ng-container matColumnDef="poNumber">
                <mat-header-cell fxFlex="100px" *matHeaderCellDef mat-sort-header> PO Number </mat-header-cell>
                <mat-cell fxFlex="100px" *matCellDef="let row">{{row.poNumber}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="dateReported">
                    <mat-header-cell fxFlex="125px" *matHeaderCellDef mat-sort-header> PO Issue Date </mat-header-cell>
                    <mat-cell fxFlex="125px" *matCellDef="let row">{{row.dateReported | dateFormatPipe}}</mat-cell>
                  </ng-container>
          
              <ng-container matColumnDef="poIssueDate">
                <mat-header-cell fxFlex="125px" *matHeaderCellDef mat-sort-header> PO Issue Date </mat-header-cell>
                <mat-cell fxFlex="125px" *matCellDef="let row">{{row.poIssueDate | dateFormatPipe}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="poAmount">
                    <mat-header-cell fxFlex="125px" *matHeaderCellDef mat-sort-header> PO Amount </mat-header-cell>
                    <mat-cell fxFlex="125px" *matCellDef="let row">{{row.poAmount}}</mat-cell>
              </ng-container>

       <!--       <ng-container matColumnDef="adminFeeDue">
                <mat-header-cell fxFlex="125px" *matHeaderCellDef mat-sort-header> Admin Fee</mat-header-cell>
                <mat-cell fxFlex="125px" *matCellDef="let row">{{row.adminFeeDue}}</mat-cell>
          </ng-container> -->
    
             <ng-container matColumnDef="edit">
                    <mat-header-cell fxFlex="75px" *matHeaderCellDef mat-sort-header> Edit </mat-header-cell> 
          
                    <mat-cell fxFlex="75px" *matCellDef="let row">
                      <button mat-icon-button color="primary" focusable="false" (click)="onRowClicked(row)">
                            <i class="fa fa-pencil mat-icon"></i>
                        </button>  
                    </mat-cell>
              </ng-container>
    
                <ng-container matColumnDef="addPayment">
                        <mat-header-cell fxFlex="100px" *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
                        <mat-cell fxFlex="100px" *matCellDef="let row">
                            <button mat-icon-button color="primary" focusable="false" (click)="deletePo(row)">
                              <i class="fa fa-trash-o  mat-icon"></i>
                            </button>  
                        </mat-cell>
                </ng-container>
              
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns"  [ngClass]="{'highlight': selectedRowIndex == row.id}" ></mat-row>
          
            </mat-table>
                    <mat-paginator 
                        [length]="1000"
                        [pageSize]="5"
                        [pageSizeOptions]="[5, 25, 100, 500]">
                    </mat-paginator>
          
          <br><hr> 
    
          <div class="new-po form-group col-md-8">
                <button mat-button (click)="newPurchaseOrder()" type="submit"  class="mat-flat-button btn-success insert-button">New P.O.</button>  
           </div>

      </div>          

      <app-purchase-order-detail [enableItemDetail] = "enableItemDetail" [poId] = "selectedPO.id" [bidId]="selectedPO.bidNumber" [isNew]="isNewPo" (refreshPurchaseOrderList)="refreshPurchaseOrderListHandler($event)" *ngIf="selectedPO"></app-purchase-order-detail> 
  <!--    <app-item-list [enableItemDetail] = "enableItemDetail" [currentBid] = "currentBid" [poId] = "selectedPoId"  [payCd] = "selectedPayCd"  ></app-item-list> -->
      <app-item-list [currentBid] = "currentBid" [poId] = "selectedPoId"  [payCd] = "selectedPayCd"  [hidden] = "!enableItemList" ></app-item-list> 

      <br> 
    
    </div>
</div>            