<div class="container">
    
  <div class="example-header">
      
        <div class="row">

              <div  class="col-md-6 gap">
                    <label style="padding-left: 5px;" for="bidTypeNnumberSelect2">Bid Number</label>  

                      <select required  (change)="filterBids($event.target.value)" class="form-control"  
                              id="bidTypeNnumberSelect2">
                              <option>Select Bid</option>
                          <option *ngFor="let bn of bidNumbers" value={{bn.BidNumber}}>
                                      {{bn.BidNumber}} - {{bn.BidTitle}}
                           </option>  
                       </select>
              </div>
              <div style=" margin-left: 20px;" class="col-md-2 gap">
                    <label style="padding-left: 5px;" for="status2">PO Status</label>  
                    <select required (change)="statusClicked($event.target.value)" class="form-control"  
                              id="status">
                                <option>All</option>
                                <option>Paid</option>
                                <option>Unpaid</option>
                    </select>
              </div>

              <div style="margin-top: 30px; margin-left: 15px;" class="col-md-2 gap">
                    <button mat-button [disabled]="!enableSearch"  (click)="search()" type="submit"  class="mat-flat-button btn-success insert-button">Search</button>  
              </div>

           <!--   <div style="margin-top: 5px; margin-left: 20px;" class="col-md-1 gap">
                    <input  class="form-check-input" (change)="paidClicked($event.target.value)" type="checkbox" id="inlineCheckbox1" [(ngModel)]="paid" >
                    <label class="form-check-label" for="inlineCheckbox1">Paid</label>
              </div>

              <div style="margin-top: 5px;" class="col-md-1 gap">
                    <input class="form-check-input" (change)="unPaidClicked($event.target.value)" type="checkbox" id="inlineCheckbox2" [(ngModel)]="unpaid"  >
                    <label class="form-check-label" for="inlineCheckbox2">Unpaid</label>
              </div>

              <div style="margin-left: 15px;" class="col-md-2 gap">
                    <button mat-button [disabled]="!enableSearch"  (click)="search()" type="submit"  class="mat-flat-button btn-success insert-button">Search</button>  
              </div>
            -->
         <!--           <div class="col-md-4">
                            <div class="form-group input-group-sm form-black label-floating is-empty">
                                
                                <div style="padding-top: 5px;" class="form-group input-group-sm form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" formControlName="paid"  name="paid" value="X">
                                    <label class="form-check-label" for="inlineCheckbox1">Paid</label>
                                  </div>
                                  <div class="form-group input-group-sm form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" formControlName="unpaid"  value="X">
                                    <label class="form-check-label" for="inlineCheckbox2">Unpaid</label>
                                 </div>
                            </div>
                          </div>   -->
          

              <mat-form-field class="gap" *ngIf="showFilter()">
                  <input matInput (keyup)="applyUserFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>  
             
         <!--   </div>  -->
          
          </div>  

          <div class="panel-body">            
            <div class="card-content">     
  <div>
       
      <mat-table [hidden] = "!showFilter()" *ngIf="poDataSource" #table [dataSource]="poDataSource" matSort>

        <ng-container matColumnDef="bidNumber">
          <mat-header-cell class="pull-left" fxFlex="125px" *matHeaderCellDef mat-sort-header> Bid Number </mat-header-cell>
          <mat-cell fxFlex="125px" *matCellDef="let row"> {{row.bidNumber}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="cityAgency">
          <mat-header-cell fxFlex="200px" *matHeaderCellDef mat-sort-header>Purchaser</mat-header-cell>
          <mat-cell fxFlex="200px" *matCellDef="let row"> {{row.cityAgency}} </mat-cell>
        </ng-container>
    
       <ng-container matColumnDef="dealerName">
          <mat-header-cell fxFlex="200px" *matHeaderCellDef mat-sort-header> Vendor </mat-header-cell>
          <mat-cell fxFlex="200px" *matCellDef="let row">{{row.dealerName}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="poNumber">
          <mat-header-cell fxFlex="150px" *matHeaderCellDef mat-sort-header> PO Number </mat-header-cell>
          <mat-cell fxFlex="150px" *matCellDef="let row">{{row.poNumber}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="poStatus">
            <mat-header-cell fxFlex="100px" *matHeaderCellDef mat-sort-header> PO Status </mat-header-cell>
            <mat-cell fxFlex="100px" *matCellDef="let row">{{row.poStatus}}</mat-cell>
          </ng-container>

        <ng-container matColumnDef="dateReported">
              <mat-header-cell fxFlex="120px" *matHeaderCellDef mat-sort-header> PO Reported Date </mat-header-cell>
              <mat-cell fxFlex="120px" *matCellDef="let row">{{row.dateReported | dateFormatPipe}}</mat-cell>
            </ng-container>
    
        <ng-container matColumnDef="poIssueDate">
          <mat-header-cell fxFlex="100px" *matHeaderCellDef mat-sort-header> PO Issue Date </mat-header-cell>
          <mat-cell fxFlex="100px" *matCellDef="let row">{{row.poIssueDate | dateFormatPipe}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="poAmount">
              <mat-header-cell fxFlex="100px" *matHeaderCellDef mat-sort-header> PO Amount </mat-header-cell>
              <mat-cell fxFlex="100px" *matCellDef="let row">{{row.poAmount  | currency }}</mat-cell>
        </ng-container>

       <ng-container matColumnDef="adminFeeDue">
          <mat-header-cell fxFlex="100px" *matHeaderCellDef mat-sort-header> Admin Fee</mat-header-cell>
          <mat-cell fxFlex="100px" *matCellDef="let row">{{row.adminFeeDue  | currency }}</mat-cell>
    </ng-container> 
       
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"  [ngClass]="{'highlight': selectedRowIndex == row.id}"  (click)="onRowClicked(row)"></mat-row>
     
    
      </mat-table>
              <mat-paginator [hidden] = "!showFilter()"
                  [length]="1000"
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 25, 100, 500]">
              </mat-paginator>
    
    <br>
    
    <hr [hidden] = "!enableItemList"> 


</div>          

</div>
</div>

<br> 

<div [hidden] = "!enableItemList" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Purchase Order Items</h3>
    

  </div>
  <div class="panel-body">
      <mat-table  #table [dataSource]="itemListDS" matSort>

          <ng-container matColumnDef="itemNumber">
              <mat-header-cell class="pull-left" fxFlex="100px"  *matHeaderCellDef mat-sort-header>Item Number </mat-header-cell>
              <mat-cell fxFlex="100px" *matCellDef="let itemList"> {{itemList.itemNumber}} </mat-cell>
          </ng-container>
            
          <ng-container matColumnDef="itemDescription">
              <mat-header-cell class="pull-left" fxFlex="300px"   *matHeaderCellDef mat-sort-header>Item Description</mat-header-cell>
              <mat-cell fxFlex="300px" *matCellDef="let itemList"> {{itemList.itemDescription}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="itemMake">
                  <mat-header-cell class="pull-left" fxFlex="200px"  *matHeaderCellDef mat-sort-header> Item Make </mat-header-cell>
                  <mat-cell fxFlex="200px" *matCellDef="let itemList">{{itemList.itemMake}}</mat-cell>
              </ng-container>
            
          <ng-container matColumnDef="itemModel">
                  <mat-header-cell class="pull-left" fxFlex="150px" *matHeaderCellDef mat-sort-header> Item Model </mat-header-cell>
                  <mat-cell fxFlex="150px" *matCellDef="let itemList">{{itemList.itemModelNumber}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="itemType">
              <mat-header-cell class="pull-left" fxFlex="175px"  *matHeaderCellDef mat-sort-header> Item Type </mat-header-cell>
              <mat-cell fxFlex="175px" *matCellDef="let itemList">{{itemList.itemType}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="qty">
                  <mat-header-cell class="pull-left" fxFlex="50px"  *matHeaderCellDef mat-sort-header> Qty </mat-header-cell>
                  <mat-cell fxFlex="50px" *matCellDef="let itemList">{{itemList.qty}}</mat-cell>
          </ng-container>

           <ng-container matColumnDef="itemAmount">
                  <mat-header-cell class="pull-left" fxFlex="100px" *matHeaderCellDef mat-sort-header> Item Amount </mat-header-cell>
                  <mat-cell fxFlex="100px" *matCellDef="let itemList">{{itemList.itemAmount  | currency }}</mat-cell>
           </ng-container>

           <ng-container matColumnDef="adminFeeDue">
            <mat-header-cell class="pull-left" fxFlex="100px" *matHeaderCellDef mat-sort-header> Admin Fee </mat-header-cell>
            <mat-cell fxFlex="100px" *matCellDef="let itemList">{{itemList.adminFeeDue | currency}}</mat-cell>
         </ng-container>

             <ng-container matColumnDef="edit">
              <mat-header-cell class="pull-left" fxFlex="50px" *matHeaderCellDef mat-sort-header> Edit </mat-header-cell> 
              <mat-cell fxFlex="50px" *matCellDef="let row">
                  <button mat-icon-button color="primary" focusable="false" (click)="onSelect(row)">
                      <i class="fa fa-pencil mat-icon"></i>
                  </button>  
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="payment">
              <mat-header-cell class="pull-left" fxFlex="70px" *matHeaderCellDef mat-sort-header>Payment</mat-header-cell> 
              <mat-cell fxFlex="70px" *matCellDef="let row">
                  <button mat-icon-button color="primary" focusable="false" (click)="onSelect(row)">
                      <i class="fa fa-money" aria-hidden="true"></i>
                  </button>  
              </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="delete">
                      <mat-header-cell fxFlex="50px" *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
                      <mat-cell fxFlex="50px" *matCellDef="let row">
                          <button mat-icon-button color="primary" focusable="false" (click)="row.confirmEditCreate()">
                              <i class="fa fa-trash-o  mat-icon"></i>
                          </button>  
                      </mat-cell>
                </ng-container>
              
                
          <mat-header-row  *matHeaderRowDef="itemColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: itemColumns;"  [ngClass]="{'highlight': selectedRowIndex == row.id}"  (click)="onItemRowClicked(row)"></mat-row>
      
      </mat-table>

    <!--  <mat-paginator 
          [length]="20" 
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator> -->

<br><hr> 
  </div>
  
</div>


<div [hidden] = "!enablePaymentList" class="panel panel-default">
    <div  class="panel-heading">
      <h3 style="width: 945px;" class="panel-title">Payments  - Item: {{itemNumber}} - Item Type: {{itemType}}  </h3>
     
    </div>
    <div class="panel-body">
        <mat-table  #table [dataSource]="paymentListDS" matSort>
          
            <ng-container matColumnDef="paymentNumber">
                <mat-header-cell class="pull-left" fxFlex="150px"  *matHeaderCellDef mat-sort-header>Payment Number </mat-header-cell>
                <mat-cell fxFlex="150px" *matCellDef="let itemList"> {{itemList.paymentNumber}} </mat-cell>
            </ng-container>
              
            <ng-container matColumnDef="paymentCheckNum">
                <mat-header-cell class="pull-left" fxFlex="150px"   *matHeaderCellDef mat-sort-header>Check Number</mat-header-cell>
                <mat-cell fxFlex="150px" *matCellDef="let itemList"> {{itemList.paymentCheckNum}} </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="fsaAlloc">
                    <mat-header-cell class="pull-left" fxFlex="150px"  *matHeaderCellDef mat-sort-header> FSA Allocation </mat-header-cell>
                    <mat-cell fxFlex="150px" *matCellDef="let itemList">{{itemList.fsaAlloc  | currency }}</mat-cell>
                </ng-container>
              
            <ng-container matColumnDef="facAlloc">
                    <mat-header-cell class="pull-left" fxFlex="150px" *matHeaderCellDef mat-sort-header> FAC Allocation </mat-header-cell>
                    <mat-cell fxFlex="150px" *matCellDef="let itemList">{{itemList.facAlloc  | currency }}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="ffcaAlloc">
                <mat-header-cell class="pull-left" fxFlex="150px"  *matHeaderCellDef mat-sort-header>FFCA Alloc </mat-header-cell>
                <mat-cell fxFlex="150px" *matCellDef="let itemList">{{itemList.ffcaAlloc  | currency }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="totalAlloc">
                <mat-header-cell class="pull-left" fxFlex="150px"  *matHeaderCellDef mat-sort-header>Total Alloc </mat-header-cell>
                <mat-cell fxFlex="150px" *matCellDef="let itemList">{{itemList.totalAlloc  | currency }}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="paymentAmount">
                    <mat-header-cell class="pull-left" fxFlex="125px"  *matHeaderCellDef mat-sort-header> Payment Amount </mat-header-cell>
                    <mat-cell fxFlex="125px" *matCellDef="let itemList">{{itemList.paymentAmount  | currency }}</mat-cell>
            </ng-container>
  
             <ng-container matColumnDef="paymentDate">
                    <mat-header-cell class="pull-left" fxFlex="150px" *matHeaderCellDef mat-sort-header> Payment Date </mat-header-cell>
                    <mat-cell fxFlex="150px" *matCellDef="let itemList">{{itemList.paymentDate  | dateFormatPipe}}</mat-cell>
             </ng-container>
  
           <!--    <ng-container matColumnDef="edit">
                <mat-header-cell class="pull-left" fxFlex="50px" *matHeaderCellDef mat-sort-header> Edit </mat-header-cell> 
                <mat-cell fxFlex="50px" *matCellDef="let row">
                    <button mat-icon-button color="primary" focusable="false" (click)="onSelect(row)">
                        <i class="fa fa-pencil mat-icon"></i>
                    </button>  
                </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="payment">
                <mat-header-cell class="pull-left" fxFlex="70px" *matHeaderCellDef mat-sort-header>Payment</mat-header-cell> 
                <mat-cell fxFlex="70px" *matCellDef="let row">
                    <button mat-icon-button color="primary" focusable="false" (click)="onSelect(row)">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </button>  
                </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="delete">
                        <mat-header-cell fxFlex="50px" *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
                        <mat-cell fxFlex="50px" *matCellDef="let row">
                            <button mat-icon-button color="primary" focusable="false" (click)="row.confirmEditCreate()">
                                <i class="fa fa-trash-o  mat-icon"></i>
                            </button>  
                        </mat-cell>
                  </ng-container>
                -->
                  
            <mat-header-row  *matHeaderRowDef="paymentColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: paymentColumns;"  [ngClass]="{'highlight': selectedRowIndex == row.id}"  (click)="onPaymentRowClicked(row)"></mat-row>
        
        </mat-table>
  
    <!--    <mat-paginator 
            [length]="1000"
            [pageSize]="5"
            [pageSizeOptions]="[5, 25, 100, 500]">
        </mat-paginator>  -->
  
  <br><hr> 
    </div>
    
  </div>

  <div  [hidden] = "!enableNewPayment" class="new-po form-group col-md-8">
    <button mat-button (click)="newPayment()" type="submit"  class="mat-flat-button btn-success insert-button">New Payment</button>  
  </div>

    <app-payment-detail [paymentNumber] = "paymentNumber" [itemId] = "itemId" [poId] = "poId" [payCd] = "payCd" [bidType] = "bidType"  [paymentId] = "paymentId" [adminFeeRate] = "adminFeeRate" 
    [hidden] = "!enablePaymentDetail" (refreshPaymentList)="refreshPaymentListHandler($event)"></app-payment-detail>

</div>
</div>  